<% Category.all.each do |cate| %>
	<div class="show-product">
		<div id="tabbox">
			<ul class="tabs" id="tabs">
				<ol><%= link_to cate.name, cate %></ol>
				<% cate.tags.each do |tag| %>
					<li><%= link_to tag.name, "#" %></li>
				<% end %>
			</ul>
			<ul class="tab_conbox" id="tab_conbox">
				<% cate.tags.each do |tag| %>
					<li class="tab_con">
					<div class="row-fluid">
						<ul class="thumbnails">
							<% tag.lists.limit(1).each do |list| %>
								<div id="media"><%= link_to "查看更多", tags_path(t:tag) %></div>
								<% list.products.each do |product| %>
									<ol>
										<div class="thumbnail">
											<%= link_to image_tag(product.photos.first.image_url), product_path(product) %>
											<div class="caption">
												<h5><%= product.title %></h5>
												<small><%= product.number %></small>
												<small><%= product.use %></small>
												<p><%= raw truncate(product.content, length: 34) %></p>
											</div>
										</div>
									</ol>
								<% end %>
							<% end %>
						</ul>
					</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
			jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
			$(tab_conbox).find("li").hide();
			$(tabtit).find("li:first").addClass("thistab").show(); 
			$(tab_conbox).find("li:first").show();
			$(tabtit).find("li").bind(shijian,function(){
				$(this).addClass("thistab").siblings("li").removeClass("thistab"); 
				var activeindex = $(tabtit).find("li").index(this);
				$(tab_conbox).children().eq(activeindex).show().siblings().hide();
				return false;
				});
			};
			$.jqtab(".tabs",".tab_conbox","click");
	});
</script>
