<% Category.all.each do |cate| %>
	<div class="show-product">
		<div id="tabbox">
			<ul class="tabs" id="tabs">
				<ol><%= link_to cate.name, cate %></ol>
				<% cate.tags.each do |tag| %>
					<li><%= link_to tag.name, "#" %></li>
				<% end %>
				<% cate.tags.each do |tag| %>
					<li id="media"><%= link_to "产", tags_path(t:tag) %></li>
				<% end %>
			</ul>
			<ul class="tab_conbox" id="tab_conbox">
				<% cate.tags.each do |tag| %>
									<li class="tab_con">
					<div class="row-fluid">
						<ul class="thumbnails">
					<% tag.lists.each do |list| %>
						<% list.products.each do |product| %>
							<ol>
							<div class="thumbnail">
							<%= image_tag(product.photos.first.image_url) %>
							<div class="caption">
	<h5><%= product.title %></h5>
							<small><%= product.number %></small>
							<small><%= product.use %></small>
							<p><%= truncate(product.content, length: 34) %></p>
							<p>

							<% if current_user.try(:likes?, product) %>
								<%= unlike_link_for(product) %>
								<i class="icon-thumbs-down"></i>
								<font style="color: red">
									<%= product.like_count %></font>
								<%= t('.like') %>
							<% else %>
								<% if current_user.present? %>
									<%= like_link_for product %>
									<i class="icon-thumbs-up"></i>
									<font style="color: red">
										<%= product.like_count %></font>
									<%= t('.like') %>
								<% else %>
									<font style="color:red">
										<%= product.like_count %>
									</font><%= t('.like') %>
								<% end %>
							<% end %>
							/ <font style="color: red"><%= product.view_count %></font>
							<%= t('.visit') %>
							</p>
							<p>
							<%= link_to t('.show'), product, class: "btn btn-primary" %>
							<% if admin_signed_in? %>
								<%= link_to "Delete", product, method: :delete, confirm: "sure?", class: "btn btn-danger" %>
							<% else %>
								<%= button_to t('.cart'), line_items_path(product_id: product), class: "btn" %>
							<% end %>
							</p>
						</div>

						</div>
					</ol>
						<% end %>
					<% end %>
				</ul>
			</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
	<script type="text/javascript">
	$(document).ready(function() {
			jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
			$(tab_conbox).find("li").hide();
			$(tabtit).find("li:first").addClass("thistab").show(); 
			$(tab_conbox).find("li:first").show();
			$(tabtit).find("li").bind(shijian,function(){
				$(this).addClass("thistab").siblings("li").removeClass("thistab"); 
				var activeindex = $(tabtit).find("li").index(this);
				$(tab_conbox).children().eq(activeindex).show().siblings().hide();
				return false;
				});
			};
			$.jqtab(".tabs",".tab_conbox","click");
	});
</script>
