<div class="index-show">
	<p>
</div>
<nav>

<ul class="nav">
	<li><%= t('.home') %></li>
	<li><%= link_to  t('.product'), products_path %></li>
	<li><%= t('.about') %></li>
	<li><%= t('.contact') %></li>
	</ul>
</nav>

<%= link_to t('.product'), products_path %>
