<%= form_for @customer do |f| %>
	<% if @customer.errors.any? %>
			<div id="error_explanation">
				<h3><%= t('.have') %>
					<%= @customer.errors.count %>
					<%= t('.number') %>
					<%= t('.error') %>
					<%= t('.prohibited_this_directory_from_being_saved') %></h3>
				<ul>
					<% @customer.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

	<%= f.fields_for :directories do |f| %>
		<%= render partial: "directories/list", locals: {f: f} %>
	<% end %>
	<div class="field field-address">
			<%= f.label :address, "邮寄地址" %>
			<%= collection_select(:customer, :province_id, Province.all, :id, :name) %>
			<%= grouped_collection_select(:customer, :city_id, Province.all, :cities, :id, :id, :name) %>
			<%= grouped_collection_select(:customer, :district_id, City.all, :districts, :id, :id, :name) %>
		</div>
		<div class="field-address">
			<%= f.text_field :address %>
		</div>
	<div class="form-action">
		<%= f.submit "Sbumit", class: "btn btn-success" %>
	</div>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#customer_city_id').linkSelect();
		$('#customer_district_id').linkSelect();
	});
	</script>
