<%= form_for @order do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div class="field">
	<%= f.label :address %>
	<%= f.text_field :address %>
	</div>
	<div class="action">
		<%= f.submit %>
	<% end %>
