<% if @cart.line_items.empty? %>
	<small style="color: red">还没有添加任何的产品</small>
<% else %>
<table class="table">
		<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= link_to image_tag(item.product.photos.first.image_url), product_path(item.product) %></td>
			<td><%= link_to item.product.title, product_path(item.product) %></td>
			<td><%= item.quantity %></td>
		</tr>
<% end %>
<div class="button-cart index-cart">
	<%= link_to "点击咨询", new_order_path, method: :get, class: "btn btn-primary btn-mini"%>
<%= link_to "empty cart", cart_path(@cart), method: :delete, confirm: "确定删除", class: "btn btn-danger btn-mini" %> 
</div>
</table>
<% end %>
