	<table class="table">
		<tr>
			<th>catename</th>
			<th>tagname</th>
			<th>listname</th>
		</tr>
		<tr>

<% @categories.each do |cate| %>
			<td><%= cate.name %></td>
			<% cate.tags.each do |tag| %>
				<td><%= tag.name %></td>
				<% tag.lists.each do |list| %>
					<td><%= list.name %> </td>
				<% end %>
		<% end %>
		<td><%= link_to "show", cate %></td>
		<td><%= link_to "edit", edit_category_path(cate) %></td>
		</tr>

<% end %>
	</table>


