<%= form_for(@product, html: {multipart: true}) do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= t('.have') %>
				<%= @product.errors.count %>
				<%= t('.number') %>
				<%= t('.error') %>
				<%= t('.prohibited_this_product_from_being_saved') %></h2>
			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :number %><br />
		<%= f.text_field :number %>
	</div>
	<div class="field">
		<%= f.label :use %><br />
		<%= f.text_field :use %>
	</div>
	<div class="field">
		<%= f.label :load %><br />
		<%= f.text_field :load %>
	</div>
	<div class="field">
		<%= f.fields_for :photos do |photo| %>
			<%= photo.label :image %><br />
			<%= photo.file_field :image %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>
	<div class="form-action">
		<%= f.submit t('.submit'),class: "btn btn-success" %>  <%= link_to t('.back'), products_path, class: "btn btn-primary" %>
	</div>	
<% end %>


