<li>
<div class="thumbnail">
	<%= link_to image_tag(product.photos.first.image_url),product %>
	<div class="caption">
		<h5><%= product.title %></h5>
		<small><%= product.number %></small>
		<small><%= product.use %></small>
		<p><%= raw truncate(product.content, length: 13) %></p>
	</div>
	<%= button_to t('.cart'), line_items_path(product_id: product), class: "btn" %>

</div>
</li>

