<div class="row-fluid">
	<ul class="thumbnails">
		<% products.each do |product| %>

		<li class="span4">
		<div class="thumbnail">
			<%= link_to image_tag(product.photos.first.image_url),product %>
			<div class="caption">
				<h3><%= product.title %></h3>
				<small><%= product.number %></small>
				<small><%= product.use %></small>
				<p><%= truncate(product.content, length: 34) %></p>
				<p>
				<%= link_to t('.show'), product, class: "btn btn-primary" %>
				<% if admin_signed_in? %>
					<%= link_to "Delete", product, method: :delete, confirm: "sure?", class: "btn btn-danger" %>
				<% else %>
<%= button_to t('.cart'), line_items_path(product_id: product), class: "btn"%>
<% end %>
				</p>
			</div>
		</div>
		</li>
	<% end %>
	</ul>
</div>

