<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif] -->
</head>
<body>
	<%= form_tag root_path, class: 'locale' do %>
		<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
			onchange: 'this.form.submit()' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>
		<p id="notice"><%= notice %></p>
		<p id ="alert"><%= alert %></p>
		<div class="container">
			<%= yield %>
		</div>

</body>
</html>
