<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="set_locale navbar-fixed-top">
	<%= form_tag root_path, class: 'locale' do %>
		<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
			onchange: 'this.form.submit()' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>
	</div>
<div class="index-show">
	<p>banar</p>
</div>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
<ul class="nav">
	<li><%= link_to t('.home'), root_path, iclass: "icon-home" %></li>
	<li><%= link_to t('.product'), products_path %></li>
	<li><%= link_to t('.about'), "#" %></li>
	<li><%= link_to t('.contact'), "#" %></li>
	<% if user_signed_in? %>
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i><%= current_user.name %><b class="caret"></b></a> 
		<ul class="dropdown-menu">
			<li><%= link_to "修改密码", edit_registration_path(:user) %></li>
			<li><%= link_to "个人中心", product_users_path %></li>
			<li class="divider"></li>
			<li><%= link_to "注销", destroy_user_session_path, :method => :delete %></li>
		</ul>
		</li>
		<% else %>
		<li><%= link_to t('.sign_in'), new_session_path(:user) %></li> 
		<li><%= link_to t('.sign_up'), new_registration_path(:user) %></li>

	<% end %>
	</ul>
	<form action="/search" method="get" class="navbar-search pull-left form-search">
			<i class="icon-search"></i>
<input type="text" name="q" value="" class="serach-query" placeholder="search">
		<button type="submit" class="btn no-btn btn-info"><%= t('.search') %></button>
	</form>
	<div class="nav-ccc">
		<nav class="nav-ddd">
		<ul>
		<li class="nav-index">
			<span class="badge badge-important">
				<%= @cart.total_items %>
			</span>
				<i class="icon-shopping-cart"></i>
				<%= link_to "购物车", cart_path  %>
				<ul>
					<li>
					</li>
								</ul>
				</li>
			</ul>
			</nav>
		</div>
</div>
</div>

</div>

<p class="alert"><%= alert %><%= notice %></p>
		<ul class="breadcrumb">
			<%= render_navigation(:renderer => :breadcrumbs, :join_with => '&nbsp / &nbsp') %>
		</ul>
<div class="index-top">
	<ul>
		<li>登录 |</li>
		<li>注册</li>
		<li>English</li>
	</ul>
</div>
<div class="index-logo">
	<div class="center-index">
	<div class="ps-index">
	<img src="/assets/rails.png" />
	<div class="logo-font">
	<span>工业仓储设备专家</span>
	<br />
	<small>便捷订购</small>
	<small>一站式服务</small>
	<small>致力与服务企业客户</small>
</div>
</div>
<div class="ps-index">
<img src="/assets/rails.png">
<div class="logo-font">
	<span>400 8826 918</span>
	<br />
	<small>产品咨询时间：周一～周六 8:30--17:30</small>
</div>
</div>
</div>
</div>
<div class="index-nav">
	<div class="center-index">
	<ul>
		<li>			首页	 </li>
		<li>	 产品中心	 </li>
		<li>	 关于我们	 </li>
		<li>	 服务中心	 </li>
		<li>			新闻	 </li>
		<li>	 联系我们  </li>
		<li class="form-search">	
<form action="/search" method="get">
			<i class="icon-search icon-white"></i>
<input type="text" name="q" value="" class="serach-query" placeholder="请输入产品名称或货号">
		<button type="submit">搜索</button>
	</form>

			</li>
		<li>
		<span class="badge badge-important">
			0
		</span>
		<i class="icon-shopping-cart icon-white"></i>
			</li>
	</ul>
</div>
</div>

		<div class="container">
			<%= yield %>
		</div>
<div class="footer-list">
	<div class="center-index">
	<div class="list-nav">
		<h3>市场策略</h3>
		<ul>
			<li>产品体系</li>
			<li>高端设计</li>
			<li>品牌策略</li>
			<li>直销模式</li>
			<li>品牌优势</li>
			<li>租赁业务</li>
			<li>持续发展</li>
		</ul>
</div>
<div class="list-nav">
		<h3>产品展示</h3>
		<ul>
			<li>产品关键字</li>
			<li>下载专区</li>
			<li>视频展示</li>
			<li>产品目录</li>
		</ul>
</div>
<div class="list-nav">
		<h3>专业知识</h3>
		<ul>
			<li>物料搬运知识</li>
			<li>高空作业平台</li>
			<li>起重吊运知识</li>
			<li>环保节能产品</li>
			<li>工业产品知识</li>
			<li>售后保养知识</li>
		</ul>
</div>
<div class="list-nav">
		<h3>服务中心</h3>
		<ul>
			<li>服务概述</li>
			<li>服务特点</li>
			<li>客户价值</li>
			<li>售后服务</li>
			<li>展厅及OEM基地</li>
			<li>行业应用</li>
		</ul>
</div>
<div class="list-nav">
		<h3>应用案例</h3>
		<ul>
			<li>精选案例</li>
			<li>物流运输</li>
			<li>服务行业</li>
			<li>汽车行业</li>
			<li>食品化工</li>
			<li>加工制造</li>
		</ul>
</div>
</div>
</div>
<div class="footer-youshi center-index">
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>货到付款</span>
		<br />
		<small>先收货再付款，放心购买</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>50000现货</span>
		<br />
		<small>现货产品4点前下单当天发货</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>满500免运费</span>
		<br />
		<small>部分区域订单满500免运费</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>增值税专用发票</span>
		<br />
		<small>可提供增值税专用发票</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>7天无理由退换货</span>
		<br />
		<small>安心采购，售后无忧</small>
	</div>
</div>
</div>
<div class="nav-footer">
	<div class="center-index">
	<ul>
		<li>联系我们 </li>
		<li>产品中心 </li>
		<li>新闻中心  </li>
		<li>销售条款  </li>
		<li>网站地图  </li>
		<li>帮助中心  </li>
	</ul>
</div>
</div>
<div class="category-list">
	<div class="center-index">
	<span>推荐词条：</span>
	<br />
	<% Category.all.each do |cate|%>
		<span><%= cate.name %> | </span>
		<% cate.tags.each do |tag| %>
			<span><%= tag.name %> |</span>
			<% tag.lists.each do |list| %>
				<span>	<%= list.name %></span>
			<% end %>
		<% end %>
	<% end %>
	<% Category.all.each do |cate|%>
		<span><%= cate.name %> | </span>
		<% cate.tags.each do |tag| %>
			<span><%= tag.name %> |</span>
			<% tag.lists.each do |list| %>
				<span>	<%= list.name %></span>
			<% end %>
		<% end %>
	<% end %>
</div>
	</div>
<div class="footer-bottom">
	<span>版权所有：上海罗倍拓工业设备有限公司 高空作业平台 适用于中国客户的内容设计</span><br />
	<span>地址：上海漕河泾开发区松江高科技园区</span><br />
	<span>全国服务热线：4008-8826-918</span><br />
	<span>法律通告,隐私条款 沪ICP备11004282号</span>
</div>


		<footer>
		<div class="hero-unit">
			<h1>TODO</h1>
			<p>pending</p>

					<p>

			<a class="btn btn-primary btn-large">
				GO
			</a>
			</p>
			<%= render 'products/nav_list' %>
		</div>
		</footer>
		</body>
</html>
