<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="index-top">
	<ul>
		<% if current_user %>
			<li> <%= link_to current_user.name, customer_path(@user), style: "color: black; font-weight: bold"%> &nbsp</li>
			<li><%= link_to t('.signout'), destroy_user_session_path, method: :delete, class: "btn btn-mini btn-danger" %></li>
		<% else %>
		<li><%= link_to t('.signin'), new_session_path(:user), class: "btn btn-mini btn-primary"%>&nbsp</li>
		<li><%= link_to t('.signup'), new_registration_path(:user), class: "btn btn-mini btn-success" %></li>
	<% end %>
		<li><div class="set_locale">
	<%= form_tag root_path, class: 'locale' do %>
		<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
			onchange: 'this.form.submit()' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>
	</div>
</li>
	</ul>
</div>
<div class="index-logo">
	<div class="center-index">
	<div class="ps-index">
	<img src="/assets/rails.png" />
	<div class="logo-font">
	<span>工业仓储设备专家</span>
	<br />
	<small>便捷订购</small>
	<small>一站式服务</small>
	<small>致力与服务企业客户</small>
</div>
</div>
<div class="ps-index">
<img src="/assets/rails.png">
<div class="logo-font">
	<span>400 8826 918</span>
	<br />
	<small>产品咨询时间：周一～周六 8:30--17:30</small>
</div>
</div>
</div>
</div>
<div class="index-nav affix" data-spy="affix" data-offset-top="150">
	<div class="center-index">
	<ul class="drop-down">
		<li><%= link_to t('.home'), root_path %></li>
		<li><%= link_to t('.product'), products_path	%> 
			<ul>
	<% Category.all.each do |cate| %>

			<li><%= link_to cate.name, category_path(cate.id) %></li>
	<% end %>

		</ul>
		</li>
		<li><%= link_to t('.about'), abouts_path %></li>
		<li><%= link_to t('.server'), servers_path %>	 </li>
		<li><%= link_to t('.new'), topics_path %></li>
		<li><%= link_to t('.contact'), contact_path %>  </li>
		<li class="form-search">	
<form action="/search" method="get">
			<i class="icon-search icon-white"></i>
<input type="text" name="q" value="" class="serach-query" placeholder="请输入产品名称或货号">
<button type="submit", class="btn btn-success"><%= t('.search')%></button>
	</form>

			</li>
		<li>
		<span class="badge badge-important">
						<%= link_to @cart.total_items, cart_path %>
		</span>
		<i class="icon-shopping-cart icon-white"></i>
		<ul>
			<li><%= render partial: 'carts/list', locals: {carts: @cart} %></li>
		</ul>
			</li>
	</ul>
</div>
</div>
<div class="search-font">
	<span class="alert"><%= alert %><%= notice %></span>
	<small><%= t('.hot') %>：<%= link_to "高空作业车", categories_path %> <%= link_to "电动堆高车", tags_path(t: "电动堆高车") %>  <%= link_to "电动搬运车", tags_path(t: "电动搬运车") %> <%= link_to "小推车", tags_path(t: "小推车") %></small>
</div>

		<ul class="breadcrumb">
			<span><%= t('.current_location') %>：</span>
			<%= render_navigation(:renderer => :breadcrumbs, :join_with => '&nbsp / &nbsp') %>
		</ul>

		<div class="container">
			<%= yield %>
		</div>
<div class="footer-list" id="footer-list">
	<div class="center-index">
	<div class="list-nav">
		<h3>市场策略</h3>
		<ul>
			<li>产品体系</li>
			<li>高端设计</li>
			<li>品牌策略</li>
			<li>直销模式</li>
			<li>品牌优势</li>
			<li>租赁业务</li>
			<li>持续发展</li>
		</ul>
</div>
<div class="list-nav">
		<h3>产品展示</h3>
		<ul>
			<li>产品关键字</li>
			<li>下载专区</li>
			<li>视频展示</li>
			<li>产品目录</li>
		</ul>
</div>
<div class="list-nav">
		<h3>专业知识</h3>
		<ul>
			<li>物料搬运知识</li>
			<li>高空作业平台</li>
			<li>起重吊运知识</li>
			<li>环保节能产品</li>
			<li>工业产品知识</li>
			<li>售后保养知识</li>
		</ul>
</div>
<div class="list-nav">
		<h3>服务中心</h3>
		<ul>
			<li>服务概述</li>
			<li>服务特点</li>
			<li>客户价值</li>
			<li>售后服务</li>
			<li>展厅及OEM基地</li>
			<li>行业应用</li>
		</ul>
</div>
<div class="list-nav">
		<h3>应用案例</h3>
		<ul>
			<li>精选案例</li>
			<li>物流运输</li>
			<li>服务行业</li>
			<li>汽车行业</li>
			<li>食品化工</li>
			<li>加工制造</li>
		</ul>
</div>
</div>
</div>
<div class="footer-youshi center-index">
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>货到付款</span>
		<br />
		<small>先收货再付款，放心购买</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>50000现货</span>
		<br />
		<small>现货产品4点前下单当天发货</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>满500免运费</span>
		<br />
		<small>部分区域订单满500免运费</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>增值税专用发票</span>
		<br />
		<small>可提供增值税专用发票</small>
	</div>
</div>
<div class="youshi">
	<img src="/assets/rails.png">
	<div class="footer-font">
		<span>7天无理由退换货</span>
		<br />
		<small>安心采购，售后无忧</small>
	</div>
</div>
</div>
<div class="nav-footer">
	<div class="center-index">
	<ul>
		<li><%= link_to t('.contact'), "#" %> </li>
		<li><%= link_to t('.product'), products_path %> </li>
		<li><%= link_to t('.new'), "#" %>  </li>
		<li><%= link_to t('.sale'), "#" %>  </li>
		<li><%= link_to t('.web'), "#" %>  </li>
		<li><%= link_to t('.help'), "#" %>  </li>
	</ul>
</div>
</div>
<div class="category-list">
	<div class="center-index">
		<span><%= t('.recommended') %>：</span>
	<br />
	<% Category.all.each do |cate|%>
		<span><%= link_to cate.name, category_path(cate.id) %> | </span>
		<% cate.tags.each do |tag| %>
			<span><%= link_to tag.name, tags_path(t:tag) %> |</span>
			<% tag.lists.each do |list| %>
				<span>	<%= link_to list.name, products_path(t:list) %></span>
			<% end %>
		<% end %>
	<% end %>
	</div>
	</div>
<div class="footer-bottom">
	<span>版权所有：上海罗倍拓工业设备有限公司 高空作业平台 适用于中国客户的内容设计</span><br />
	<span>地址：上海漕河泾开发区松江高科技园区</span><br />
	<span>全国服务热线：4008-8826-918</span><br />
	<span>法律通告,隐私条款 沪ICP备11004282号</span>
</div>

		</body>
	<div class="returnTop" title="返回顶部">
		<span class="s"></span>
		<span class="b"></span>
	</div>
</html>
